<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovian Careers</title>
    <style>
        #container{
            max-width: 720px;
            margin: 0 auto;
            background-color: beige;

        }
        h1{
            font-family: Roboto;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="container">
        <h1>Jovian Careers</h1>
        <img src="../static/banner.png" alt="banner" height="320">
        <h2>About Jovian</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ab similique blanditiis nemo nobis harum temporibus ipsa in impedit perferendis placeat dolores, odit repellendus consequuntur consectetur omnis dignissimos recusandae optio earum culpa esse minus, quae reiciendis! Deleniti sed architecto, necessitatibus repudiandae eos aliquid excepturi odio facere doloribus eveniet ex, obcaecati omnis, fugit nemo? Eum cum magni sequi, veniam accusamus dignissimos!
        </p>
        <h2>Open Positions</h2>
        <p>TODO</p>
        <div style="text-align: center;">
            <button>Contact Us</button>
        </div>
        </div>
</body>
</html>